<header>

  <nav>
    <ul>
      <li><a href="/superhero">Find Hero </a></li>
      <!-- <li><a href="/superhero/add">Add</a></li> -->
      <!-- <li><a href="/superhero/location"> Sightings </a></li> -->
      <li><a href="/superhero/list"> Sightings </a></li>
    </ul>
  </nav>
</header>
