<header>

  <nav>
    <ul>
      <li><a href="/superhero">Home </a></li>
      <li><a href="/superhero/add"> Find Hero </a></li>
      <li><a href="/superhero/location"> Sightings </a></li>
    </ul>
  </nav>
</header>
