<% include ./partials/landing %>
<div class="home">

<img id="logo"src="images/logo.png" height="450" width="500">
<img class="spiderman" src="images/mshbg.jpg" background-size="cover">
<button class="button" type="submit" href="/superhero/" >
<a id="aa" href="/superhero/">enter</a>
</button>

</div>

<% include ./partials/endlanding %>
