<% include ./partials/landing %>
<h1 id="text">Where Was He Last?</h1>
<img src="images/wallup-54730.jpg">
<button class="button" type="submit" href="/superhero/" >
<a id="aa" href="/superhero/">enter</a>
</button>

<% include ./partials/endlanding %>
