<% include ./partials/boilerplate %>

<form class="" method="POST" action="/superhero/list">
	<input class="text" type="text" name = "city" placeholder="City" />
      <input class="text" type="text" name = "country" placeholder="Country" />
      <button class="button1"type="submit">Add</button>
</form>

<!-- <a href="/list">Back to lists</a> -->

<% include ./partials/end %>
