<% include ./partials/boilerplate %>
<h1>this is location page</h1>


<form method = "POST" action="/location">
	<input type="text" name = "city" placeholder="City" />
      <input type="text" name = "country" placeholder="Country" />
      <input type = "submit" value = "Add it!">
</form>

<% include ./partials/end %>
