<% include ./partials/boilerplate %>

<form method = "POST" action="/location">
	<input type="text" name = "city" placeholder="City" />
      <input type="text" name = "country" placeholder="Country" />
      <input type = "submit" value = "Add it!">
</form>

<a href="/superhero">Back to lists</a>

<% include ./partials/end %>
