<% include ./partials/boilerplate %>

  <div class="myForm">
    <div class="add">
      <form action="/superhero.makeRequest" method="POST">
        <input type="text" name="superhero" placeholder="Superhero Name" />
        <input class="button" type="submit" value="Add it!" />
      </form>
    </div>

    <a href="/todo">Back to lists</a>

  </div>

<% include ./partials/end %>
