<% include ./partials/boilerplate %>


<form class="container" action="/superhero" method="POST">
  <input class="search" type="text" name="name" placeholder="Superhero Name" />
<button class="button1"type="submit">Add Hero</button>
</form>

<div id="text2"><%= name %></div>
<div id="text3"><%= description %></div>
<img id="img" src="<%= thumbnail %>">

<% include ./partials/end %>
