*{
  margin:0;
}

ul {

    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,0,0,0.3);
    color:red;

}

li {
    float: right;
}

li a {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:red;
}

li a:hover {
    background-color:white;

}


footer{
  position:fixed;
  top:90%;
  width: 100%;
  height: 100px;
  background-color:black;
}
#aa{
  text-decoration: none;
}
.button{
  position: absolute;
  width: 100px;
  height: 50px;
  margin:5px;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s;
  padding: 5px;
  top: 80%;
  left:47%;
  text-decoration: none;
  font-family: futura;
}
.button:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;

}
.button1{
  position: absolute;
  width: 80px;
  height: 30px;
  color:red;
  margin:5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.3s;
  padding: 5px;
  left: 45%;
}
.button1:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;

}
#logo{
  position: absolute;
  top:20%;
  left:35%;
}
.info{
  text-align: center;
  font-family: Futura;
  font-size: 25px;
  color:white;
}

span{
  color:red;
}
body{
  background-color:black;
  overflow-x: hidden;
  overflow-y: auto;

}
#img{
  border: 3px solid white;
  position: absolute;
  top: 45%;
  left:35%;
  transform: rotateX(-50%)translateY(-50%);
}
#text2{position: absolute;
  color: white;
  text-align: center;
  font-size: 80px;
  top:20%;
  left:35%;
  transform: rotateX(-50%)translateY(-50%);
}
#text3{
  color: white;
  margin:0px 200px;
  text-align: center;
  position: absolute;
  font-size: 30px;
  top:30%;
  transform: rotateX(-50%)translateY(-50%);
}


.search{
  background-color: lightblue;
  position: absolute;
  height:30px;
  border:2px solid red;
  left: 42%;
  top: 10%;
  padding: 5px;
}
