*{
  margin:0;
}

.home{
  overflow-y:hidden;
  width: 100vw;
  height: 100vh;
}

ul {

    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,0,0,0.3);
    color:red;

}

li {
    float: right;
}

li a {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:red;
}

li a:hover {
    background-color:white;

}


footer{

  width: 100%;
  height: 50px;
  background-color:black;
  font-family: monospace;
  color: white;
}
.spiderman{
}

#aa{
  text-decoration: none;
  font-family: futura;
}

#logo{
  position: absolute;
  top:20%;
  left:35%;
}

#aa:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;
}
.button{
  position: absolute;
  width: 100px;
  height: 50px;
  margin:5px;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s;
  padding: 5px;
  top: 80%;
  left:47%;
  text-decoration: none;
  font-family: futura;
}
.button:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;

}


.search{
  position: absolute;
  top:30%;
  margin:20px;
}
.button1{
  position: absolute;
  width: 100px;
  height: 30px;
  color:red;
  margin:10px 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.3s;
  padding: 5px;
  top:5%;
  font-family: futura;
  left: 40%;
}
.button1:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;

}
.button3{
  position: absolute;
  width: 100px;
  height: 30px;
  color:red;
  margin:10px 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.3s;
  padding: 5px;
  font-family: futura;
  left: 52%;
  top:5%;
}
.button3:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;

}
.name{
  position: absolute;
  left:60%;
  font-size: 90px;
  margin-top: -150px;
  color: white;
  font-family: serif;
  text-shadow: 3px 3px 4px red;
}
.name:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  color: red;
  text-shadow: 3px 3px 4px white;
}

.city{
  position: absolute;
  left:60%;
  margin-top: 200px;
  font-size: 40px;
  color: white;
  font-family: serif;

}
.country{
  position: absolute;
  left:60%;
  margin-top: 300px;
  font-size: 40px;
  color: white;
  font-family: serif;
}
.text{
  position: absolute;
  top:10%;
  color: white;
  font-size: 35px;
  margin: 0px 400px;
}
#image{
  padding:40px 300px 0px;
  top: 10%;
}

#input{
  color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 50px;
  border: 5px solid red;
  padding: 5px;
  margin: 5px;
}
#input:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;
}

.boton{
  text-align: center;
  text-decoration: none;
  position: absolute;
  width: 100px;
  height: 50px;
  margin:5px;
  padding-top:15px;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s;
  top: 70%;
  left:47%;
  text-decoration: none;
  font-family: futura;
}
.boton:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;
}



.edit{
  text-align: center;
}

.btn{

text-align: center;
  width: 80px;
  height: 30px;
  color:red;
  margin-top: -50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.3s;
  font-family: futura;
  padding: 5px;

}
.btn:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;

}
.buttone{
  position: absolute;
  left:27%
}
.btn2{
position: absolute;
text-align: center;
  width: 80px;
  height: 15px;
  color:red;
  margin:-30px 0px 0px 150px ;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  font-family: futura;
  transition: 0.3s;
  text-decoration: none;
}
.btn2:hover{
  cursor:pointer;
  transform: scale(1.3);
  transition: 0.3s;
  background-color: red;
  color: white;

}



.info{
  text-align: center;
  font-family: Futura;
  font-size: 25px;
  color:white;
}

span{
  color:red;
}
body{
  background-color:black;
  background-size: cover;
  overflow-x: hidden;


}
#img{
  position: absolute;
  top: 45%;
  left:20%;
  transform: rotateX(-50%)translateY(-50%);
}
#text2{position: absolute;
  color: white;
  text-align: center;
  font-size: 80px;
  top:20%;
  left:35%;
  transform: rotateX(-50%)translateY(-50%);
}
#text3{
  color: white;
  margin:0px 200px;
  text-align: center;
  position: absolute;
  font-size: 30px;
  top:30%;
  transform: rotateX(-50%)translateY(-50%);
}

.search{
  background-color: lightblue;
  position: absolute;
  height:30px;
  border:2px solid red;
  left: 42%;
  top: 10%;
  padding: 5px;
}

.sh{
  color:white;
}

.container{
  text-align: center;
}
